<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_DEBUG" value="false"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="GATE_STRICT" value="false"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_HOST" value="localhost"/>
        <server name="DB_DATABASE" value=":memory:"/>
        <server name="DB_PREFIX" value=""/>
        <server name="DB_USERNAME" value="root"/>
        <server name="GATE_KEY_PATH" value="/var/www/html/tests/keys/" />
    </php>
</phpunit>